*{
    margin:0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

body{
    width:100vw;
    height:100vh;
}
.main-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
   
}
.forgot{
    width:40%;
    height:35%;
    background-color: yellow;
    box-shadow: 0 0.5em 2em yellow;
    border-radius: 2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.forgot-heading{
  font-size:medium;
  font-weight: bolder;
}
.forgotform{
    width:80%;
    height:fit-content;  
}
form{
    width:100%;
    height:100%;
    
}
input[name="mail"]
{
    width:98.4%;
    height:2.3em;
    margin-bottom:1.5em;
}
input[value="sendotp"]{
  width:100%;
  background-color:black;
  color:white;
  border-radius:2em;
  border:none;
  height:2.5em; 
  cursor: pointer;
}
input[value="sendotp"]:hover{
    background-color: lightgrey;
    color:black;
}


@media screen and (max-width:414px) and (min-width:360px) 
{
  .forgot{
    width:80%;
    height:30%;
    gap:1.2em;

  }
}

@media screen and (max-width:915px) and (min-width:667px) 
{
  .forgot{
    width:50%;
    height:50%;
    gap:1.2em;
  }
 
}

@media screen and (max-width:820px) and (min-width:768px)
{
  .forgot{
    width:50%;
    height:20%;
  }
 
}



